* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	color: white;

}

body {
	font-family: 'Montserrat', sans-serif;
	background: #413737;
	color: #1d1d1d;
}
.cabeza{
	display: flex;
	justify-content: center;
	align-items: end;
	height: 400px;
	width: 100%;
	border-radius: 20px;
	background: #241744;
	position: relative;
}



.img1{
	position: absolute;
	pointer-events: none;
	width: 430px;
	top: -70px;
}


.contenedor {
	width: 90%;
	margin: 40px auto 100px auto;
	display: flex;
	gap: 40px;
}

.contenedor .pelicula {
	text-align: center;
}

.contenedor .pelicula .titulo {
	font-size: 16px;
	font-weight: 600;
}

.contenedor .pelicula .poster {
	width: 100%;
	margin-bottom: 10px;
	border-radius: 15px;
}

.poster2{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%) scale(0);
	transition: transform 0.3s ease-in-out;
}


.paginacion {
	position: fixed;
	bottom: 0;
	background: #100a1f;
	width: 100%;
	display: flex;
	justify-content: center;
	gap: 20px;
	padding: 10px;
	z-index: 1;
}

.paginacion button {
	cursor: pointer;
	border: none;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	height: 50px;
	width: 200px;
	background: #241744;
	color: #fff;
	border-radius: 100px;
	font-family: 'Montserrat', sans-serif;
	font-weight: 600;
	transition: .3s ease all;
}

.paginacion button:hover {
	background: #137c32;
}
input{
	margin-bottom: 60px;
}

/* esta parte me muestra el texto de la descripcion */

.contenido{
	position: relative;
	overflow: hidden;

	
}

.animacion{
	position: absolute;
	display: none;
	top: 0px;
	left: 0px;
	border: black 0px solid;
	border-radius: 10px;
	height: 95%;
	width: 98%;
	font-size: 12px;
	background-color: rgba(0,0,0,.6);
	padding: 30px;
	overflow: scroll;

}

.pelicula:hover{
	position: relative;
	transform: scale(1.11);
	z-index: 1;
	transition: all 1s;

}  
.pelicula:hover .animacion{
	display: block;
	
}


/* .contenido:hover .animacion{
	display: block;
	z-index: 1;
}


.poster:hover + .poster2,
.poster2:hover {
	display: block;
	z-index: 1;
    transform: translate(-50%, -40%) scale(1);
	z-index: 1;
	border-radius: 20px;
}

.poster:hover .animacion{
	display: block;
	z-index: 1;
}
 */